$body-bg-color: #6d666633;

$color-blue-gradient: #69697c;
$color-red-gradient: #866d6d;

$color-white: #ffffff;
$color-black: #000000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;