@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations"; 
@import "base/base"; 
@import "base/typography"; 
@import "base/utilities"; 

@import "components/buttons";

@import "layout/header";

@import "pages/home";

.header .full-name {
    color: $color-white; 

    & .primary {
        font-size: 6rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-bottom:1rem;
        animation-name: moveRight;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        display: inline-block;
    }

    & .secondary {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        animation-name: moveLeft;
        animation-timing-function: ease-out;
        backface-visibility: hidden; 
        animation-duration: 0.5s;
        display: inline-block;
    }
}